@import url(https://fonts.googleapis.com/css?family=Poppins);
header{
    position:absolute ;
    
    }
    
    nav{
    /* position: inherit; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
    

    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
    
    background: #121829 80%;
    
    }
    .row{
        align-items: center;
        width: inherit;
    }
    a{
    font-family: Poppins;
    width: 77px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;
    color: #A8AEBF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
    
    text-decoration: none;
    }
    
.logo{
    height: 27,48px;
    height: 32px;
    top: 24px;
    bottom: 24px;
}
.nav-item:hover{
        color: white;
}
    
.ingresar{
    margin-left: 16px; 
    /* agregue margin en la izquierda para darle una separacion al boton de ingresar */
}



button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #A8AEBF;
    padding: 12px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    cursor: pointer;
}
button.active p, button.active a{
    color: var(--warning);
}
button:hover p, button:hover a {
    color: #ddd;
}
button p {
    font-weight: 600;
    font-size: 24px;
}
button p.left {
    margin-left: 10px;
}
button p.right {
    margin-right: 10px;
}