<header >
    <nav class="navbar fixed-top ">
        <div class="row">
            <div class="col ">
                <a href="" routerLink="Inicio" routerLinkActive="active"><img class="logo" src="/assets/recursos/favicon/favicon.ico" alt='logitooooo'></a> 
            </div>
            <ng-container *ngIf="authService.isLoggedIn | async; else unloggued">
                <div class="col-md-auto">
                    <a class="nav-item" href="dashboard" routerLink="Dashboard" routerLinkActive="active">Dashboard</a>
                    <a class="nav-item" href="lista" routerLink="lista" routerLinkActive="active">Mi Lista</a>
                    <a (click)="logout()" class="nav-item" href="Salir" routerLink="Inicio" routerLinkActive="active"><img class="logout" src="../../../../assets/recursos/login/logout.svg">Salir</a>
                </div>
                <img src="" alt="">
            </ng-container>
            
        </div>
    </nav>  
</header>

<ng-template #unloggued>
    <div class="col-md-auto">
        <a class="nav-item" href="Peliculas" routerLink="Peliculas" routerLinkActive="active">Peliculas</a>
        <a class="nav-item" href="Series" routerLink="Series" routerLinkActive="active">Series</a>
        <a class="ingresar nav-item" routerLink="Ingresar" routerLinkActive="active"href="Ingresar">Ingresar<i i-bs name="arrow-right"></i></a>
    </div>    
</ng-template>