
<div class='home'>
        <h1 class='titulo'>PelisUP!</h1>
        <h2 class='subtitulo'>Plataforma para ver películas y series 😉</h2>
        <!-- <div class="box-search">
                <svg id="icon" color="#323B54"xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
<<<<<<< HEAD
                <input type="search" (ngModelChange)="search(toSearch)" [(ngModel)]="toSearch" id="search" type="search" placeholder=" Buscar Peliculas y Series">
                <!-- <input type="search" id="search" type="search" placeholder=" Buscar Peliculas y Series"> -->
        <!-- </div>
        <app-search (search)="searchNow($event)"></app-search>
                <input type="text" (ngModelChange)="search(toSearch)" [(ngModel)]="toSearch" id="search" type="search" placeholder=" Buscar Peliculas y Series">
        </div> --> -->
                
             <!-- <div class="box-search">
                <svg id="icon" color="#323B54"xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <form (ngSubmit)="guardar()" autocomplete="off"  [formGroup]="miFormulario">
                <input type="text" formControlName="nombre" placeholder="Nombre del producto" id="search"/></form>
             </div>   -->

              <div class="box-search">
                <svg id="icon" color="#323B54"xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
                        <input
                        type="text"
                        id="search"
                        [ngModel]="initForm.search"
                        name="search"
                        placeholder="Buscar Peliculas y Series"
                        required
                        minlength="3"
                      />
                </form>
             </div>  
             
        <app-botones (tipo)="recibirTipo($event)"></app-botones>
        
        <div class="row seccion">
                <h3 class="col-auto todos">{{filtro}} </h3>
                <h4 class="col-auto cantidad">({{total}})</h4>
        </div>
        
        
        <div class="galeria">
                <div *ngFor="let movie_serie of todosColeccion">
                        <app-card [movie]="movie_serie" [type]="filter" [userId]="userId"></app-card>
                </div>
        </div>

        <!-- <div class="pagination">
                <button (click)="toPageArrow('-')" ng-disabled="true" class="collapsed"><<</button>
                <ng-container *ngFor="let page of info.pagination">
                    <button (click)="toPage(page)" [ngClass]="{'active': info.page === page}">{{page}}</button>
                </ng-container>
                <button (click)="toPageArrow('+')" [ngClass]="{'disabled': info.page >= info.totalPage - 3}" class="collapsed">>></button>
        </div> -->

</div>