.Frame83{
    /* background-color: green; */
    width: 486px;
    height: 560px;
    margin: 120px 120px;
    padding: 0%;
}

.rectangle{
    position: absolute;
    background-color: #121829;
    width: 384px;
    height: 560px;
    border-radius: 36px;
}
.Saly-11{
    position: absolute;
    width: 486px;
    height: 584px;
}

.login{
    width: 486px;
    height: 360px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 124px;
}

.text{
    position: static;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #C3C8D4;
}
.box-login{
    /* background-color: blue; */
    position: static;
    width: 486px;
    min-height: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    width: 100%;
    height: 64px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #475069;
    padding-left: 56px;
    

}
input::-ms-reveal { 
    filter: invert(100%); 
}
#icon{
    height: 15px;
    width: 15px;
    position: absolute;
    /* top: 50%; */
    margin-left: 24px;
    margin-top: 24px;
    z-index: 1;
    color: #4f5b66;
}

.btn-default{
    padding-top: 16px;
    color: #FFFFFF;
    background-color: #7B6EF6;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 56px;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}
.btn-default:hover{
    color: #FFFFFF;
    background-color: #5A4AF4;
}
.btn-default.active{
    color: #FFFFFF;
    background-color: #5A4AF4;
}

p{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}
.btn-google{
    background-color: red;
    position: absolute;
    width: 303px;
    height: 69px;
    left: 819px;
    margin-top: 18px;
    background: url(../../../../resources/images/image1.png);
    outline: none;
    border: none;
}

.separator{
    margin-top: 22px;
    width: 486px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    vertical-align: middle;
    align-items: center;

}

.line{
    /* position: absolute; */
width: 218px;
height: 5px;

/* Grey/800 */

background: #20283E;
border-radius: 2px;
}

.o{
width: 20px;
height: 40px;
left: 960px;
top: 570px;

/* Heading/H3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;

/* Grey/100 */

color: #C3C8D4;
}

.register{
    position: relative;
    /* background-color: red; */
    width: 250px;
    height: 24px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.register a{
    color: #1EA5FC;
    text-decoration: none;
}