<app-background></app-background>
<div class="row">
    <div class="col-6 Frame83" >
        <div class="rectangle"></div>
        <div class="row">
            <img class="Saly-11" src="../../../../assets/recursos/login/Saly-11.png">
        </div>
    </div>
    
        <div class="col-3 login">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1 class="text">Ingresar</h1>
                <div class="box-login">
                    <div class="box-user">
                        <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                        </svg>

                        <input 
                            id="email" 
                            type="text" 
                            placeholder=" Email" 
                            formControlName="email"
                        >
                        
                    </div>
                    <p class="small" *ngIf="campoEsValido('email')">Debe ingresar un correo válido</p>
                    <div class="box-password">
                        <svg id='icon'xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>

                        <input 
                            id="password"
                            type={{password.type}}
                            placeholder=" Contraseña"
                            formControlName="password"
                        >
                        
                    </div>
                    <p class="small" *ngIf="campoEsValido('password')">Al menos 8 caracteres</p>
                </div>
                <!-- <div>
                    <label (click)="togglePassword($event)" class="btn btn-default" tabindex="0" role="button" >Ingresar</label>
                </div> -->
                <!-- <div class="register">¿No tienes cuenta? <a href="Registrar" routerLink="Registrar" routerLinkActive="active">Registrar</a></div> -->
                <button class="btn btn-default" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
                <div class="separator">
                    <div class="line"></div>
                    <h2 class="o">ó</h2>
                    <div class="line"></div>
                </div>
                <button class="btn-google" (click)="ingresarConGoogle()"></button>
            </form>
        </div>
   
    
</div>