
.foto{
    width: 266px;
    height: 400px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.card{
    background: rgba(32, 40, 62, 0.8);
    width: 282px;
    height: auto;
    min-height: 480px;
    border-radius: 12px;
    padding: 8px 8px 16px;
    backdrop-filter: blur(80px);
    margin-right: 24px;
    margin-bottom: 20px;
    flex: 1;
    
}

.puntos{
    color: #FFAD49;
    position: absolute;
    left: 16px;
    top: 18px;
    width: 61px;
    height: 40px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    
}
.estrella{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 9.33px;
    top: 13.39px;
}
.numero{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 28px;
    top: 8px;
}
.card:hover{
    transform: translateY(-3px) scale(1.05);
    /* box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4); */
    filter: none;
    
}

.nombres{
    display: flex;
    text-decoration: none;
    margin-top: 24px;
    margin-left: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: max-content;
    letter-spacing: 0.02em;
    color: #EBEEF5;
    cursor: pointer;
}

.add{
    padding: 0 0;
    padding-left: 0px;
    margin-top: 16px;
    display: flex;
    width: 193px;
    height: 24px;
    border-radius: 0px;
    margin-left: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.line{
    width: 12px;
    height: 1px;
    margin-top: 12px;
    margin-right: 14px;
    border-radius: 0.25px;
    background-color: #FF6161;;
}