<div class="card {{movie.media_type}}" >
        <div >
            <div class="foto" style="background-image: url({{movieImg}})" (click)="goTo(movie.media_type, movie.id)"><input type="hidden"></div>
            <div class="puntos">
                    <p class="numero"  >{{movie.vote_average}}</p>
                    <span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
                    <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    </span>
            </div>
            <a class="nombres" (click)="goTo(movie.media_type, movie.id)">{{movie.name}}{{movie.title}} </a>
            <button
                [ngClass]="{'list':true, 'added':added}"
                *ngIf="userId !== ''"
                (click)="handleListClick()"
                class="add">
            <ng-container *ngIf="!added; else delete"><p style="color: #7B6EF6;">+ Agregar a mi lista</p></ng-container>
            </button>
        </div>
</div>
<ng-template #delete>
        <div class="line"></div>
        <p style="color: #FF6161;">Eliminar de mi lista</p>
</ng-template >
