
title{
    color: white;
}
section{
    height: 200px;
}
.section1{
    background-color: green;
}
.section2{
    background-color: red;
}
.cuadrado1{
    height: 70%;
    background-color:darkblue;
    border: solid 1px black;
}
.cuadrado2{
    height: 70%;
    background-color: yellow;
    border: solid 1px black;
}
footer{
    height: 200px;
    background-color: orange;
}