.title{
    width: 264px;
    height: 56px;
    margin-left: 120px;
    margin-top: 160px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.apartados{
    
    width: 100;
    height: 152px;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.boton{
    /* background-color: green; */
    height: 100%;
    width: 550px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.boton:hover{
    border-color: aqua;
    border-style: solid;
}
.cantidad{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    margin: 0 0 0 0;
    margin-bottom: 8px;
}
.tipo{
    /* background-color: green; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;

    margin: 0 0 0 0;
}