<p class="title">Bienvenido</p>
<div class="apartados">
    <div class="boton" (click)="goTo()">
        <p class="cantidad">{{peliculas}}</p>
        <p class="tipo">Peliculas</p>
    </div>
    <div class="boton" (click)="goTo()">
        <p class="cantidad">{{series}}</p>
        <p class="tipo">Series</p>
    </div>
</div>