<!-- <pre class="card card-block card-header">{{radioModel || 'null'}}</pre> -->
<div class="cuadro">
    <div class="btn-group">
        <div>
            <label 
                class="btn btn-default" 
                btnRadio="all" 
                (click)="emitirTipo()" 
                [(ngModel)]="radioModel" 
                tabindex="0" 
                role="button">
                Todos
            </label>
        </div>
        <div>
            <label class="btn btn-default" btnRadio="movie" (click)="emitirTipo()"  [(ngModel)]="radioModel" tabindex="0" role="button">Peliculas</label>
        </div>
        <div>
            <label class="btn btn-default" btnRadio="tv" (click)="emitirTipo()"  [(ngModel)]="radioModel" tabindex="0" role="button">Series</label>
        </div>
    </div>
</div>