@import url(https://fonts.googleapis.com/css?family=Poppins);

.cuadro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    margin-left: 120px;
    margin-top: 80px;
    width: 388px;
    height: 56px;
    left: 120px;
    top: 472px;
    
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    }

.btn-default{
    padding-top: 0px;
    color: #8E95A9;
    font-family: Poppins;
    height: 40px;
    padding: 8px 32px;
    border-radius: 8px;
}
.btn-default:hover{
    color: #FFFFFF;
    background-color: #7B6EF6;
}
.btn-default.active{
    color: #FFFFFF;
    background-color: #5A4AF4;
}