
<div class='home'>
        <p class="main-title">PelisUp!</p>
        <h1 class='titulo'>Series</h1>
        <div class="box-search">
                <svg id="icon" color="#323B54"xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <input type="search" (ngModelChange)="search(toSearch)" [(ngModel)]="toSearch" id="search" type="search" placeholder=" Buscar Series">
                <!-- <input type="search" id="search" type="search" placeholder=" Buscar Peliculas y Series"> -->
        </div>
        <h2 class="total">{{total}} items</h2>
        <div class="galeria">
                <div *ngFor="let movie_serie of series">
                        <app-card [movie]="movie_serie" [type]="filter"></app-card>
                </div>
        </div>

        <!-- <div class="pagination">
                <button (click)="toPageArrow('-')" ng-disabled="true" class="collapsed"><<</button>
                <ng-container *ngFor="let page of info.pagination">
                    <button (click)="toPage(page)" [ngClass]="{'active': info.page === page}">{{page}}</button>
                </ng-container>
                <button (click)="toPageArrow('+')" [ngClass]="{'disabled': info.page >= info.totalPage - 3}" class="collapsed">>></button>
        </div> -->

</div>