@import url(https://fonts.googleapis.com/css?family=Poppins);
.titulo{
    margin-left: 120px;
    margin-top: 160px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #EBEEF5;
    /* background-color: green; */
    letter-spacing: -0.02em;
    letter-spacing: -0.02em;
}
.subtitulo{
    margin-left: 120px;
    margin-top: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
}
.box-search{
    width: 200px;
    height: auto;
    white-space: nowrap;
    position: relative;
    margin-left: 120px;
    margin-top: 48px;
    vertical-align: middle;
  }
.box-search input#search{
    position: relative;
    width: 344px;
    height: 64px;
    padding-left: 56px;
    top: 0%;
    bottom: 0%;
    color: #EBEEF5;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
#icon{
    height: 15px;
    width: 15px;
    position: absolute;
    /* top: 50%; */
    margin-left: 24px;
    margin-top: 24px;
    z-index: 1;
    color: #4f5b66;
}


.bot{
    left: 8px;
    top: 8px;
    width: 115px;
    height: 40px;
    margin-bottom: 8px;
    padding: 8px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    
}

.bot:hover{
    background-color: #7B6EF6;
    border-color: #7e71f873;
}

.bot:focus{
    background-color: #7B6EF6;
}

.seccion{
    width:max-content;
    height: auto;
    margin-top: 24px;
    margin-left: 120px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-bottom: 24px;
    padding: 0;
    align-items: baseline;
}
.todos{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.cantidad{
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.galeria{
    display: flex;
    position: relative;
    padding-bottom: 156px;
    margin-left: 120px;
    margin-right: auto;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.total{
    /* position: absolute; */
    /* background-color: red; */
    /* width: 74px; */
    height: 24px;
    margin-left: 120px;
    margin-top: 45px;
    margin-bottom: 24px;
    top: 376px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
}

.main-title{
    color: #BEB7FB;
    position: absolute;
    width: 47px;
    height: 16px;
    left: 120px;
    top: 144px;
    /* background-color: red; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}