.title{
    width: 264px;
    height: 56px;
    margin-left: 120px;
    margin-top: 160px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}
.lista{
    display: flex;
    position: relative;
    padding-bottom: 156px;
    margin-left: 120px;
    margin-right: auto;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
}
