<p class="title">Mi Lista</p>
<section>
    <div class="lista">
        <ng-container *ngFor="let movie_serie of movies_series">
            <app-card [movie]="movie_serie" [type]="filter" [userId]="userId"></app-card>
        </ng-container>
    </div>
</section>