<div>
    <div class="portada" style="background-image: url(https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{movie?.backdrop_path}})"></div>
    <div class="titulo">
        <p *ngIf="type === 'movie'" class="type">PelisUP! / Peliculas</p>
        <p *ngIf="type === 'tv'" class="type">PelisUP! / Series</p>
        <h1 class="name">{{movie?.title}}{{movie?.name}}</h1>
    </div>
    <div class="info">
        <div class="foto" style="background-image: url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{movie?.poster_path}})"></div>
        <div class="texto">
            <div class="frase">{{movie.tagline}}</div>
            <div class="descripcion">{{movie.overview}}</div>
            <div class="puntos">
                <p class="numero"  >{{movie.vote_average}}</p>
                <span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
                <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
                </span>
            </div>
            <div *ngIf="type === 'tv'">
                <div class="datos" >
                    <div class="column">
                        <div>
                            <p class="tipo-dato">Tipo</p>
                            <p class="dato">{{typeToShow}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">Primera fecha de estreno</p>
                            <p class="dato">{{movie.first_air_date}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">No. de temporadas</p>
                            <p class="dato">{{movie.number_of_seasons}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">Duracion prom. de episodios</p>
                            <p class="dato">{{movie.episode_run_time}} min</p>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <p class="tipo-dato">Estado</p>
                            <p class="dato">{{movie.status}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">Ultima fecha de estreno</p>
                            <p class="dato">{{movie.last_air_date}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">No. de episodios</p>
                            <p class="dato">{{movie.number_of_episodes}}</p>
                        </div>
                    </div>
                </div>
                <div class="genres">
                    <p class="tipo-dato">Generos</p>
                    <p class="dato">{{getGeners(movie.genres)}}</p>
                </div>
            </div>
            <div *ngIf="type === 'movie'">
                <div class="datos" >
                    <div class="column">
                        <div>
                            <p class="tipo-dato">Tipo</p>
                            <p class="dato">{{typeToShow}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">Fecha de estreno</p>
                            <p class="dato">{{movie.release_date}}</p>
                        </div>
                        <div>
                            <p class="tipo-dato">Duracion</p>
                            <p class="dato">{{movie.runtime}} min</p>
                        </div>
                    </div>
                </div>
                <div class="generos">
                    <p class="tipo-dato">Generos</p>
                    <p class="dato">{{getGeners(movie.genres)}}</p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>