.portada{
    position: absolute;
    width: 1200px;
    height: 480px;
    margin: 120px 120px;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    position: absolute;
    width: 580px;
    height: 144px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(24px);
    border-radius: 24px;
    margin-top: 528px;
    margin-left: 198px;
}

.type{
    position: absolute;
    margin: 40px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BEB7FB;
}
.name{
    position: relative;
    margin-top: 64px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    /* background-color: red; */
}
.info{
    position: absolute;
    display: flex;
    top: 752px;
    left: 200px;
    right: 220px;
}
.foto{
    /* position: absolute; */
    width: 480px;
    height: 720px;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.texto{
    width: 440px;
    height: 680px;
    margin-left: 80px;
}

.frase{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #EBEEF5;
}
.descripcion{
    margin-top:24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
}


.puntos{
    color: #FFAD49;
    width: 59px;
    height: 32px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    margin-top: 24px;
}
.estrella{
    width: 13.23px;
    height: 13.33px;
    position: absolute;
    margin-top: 9.35px;
    margin-left: 9.33px;
    
}
.numero{
    position: absolute;
    margin-top: 0px;
    padding: 0;
    margin-top: 4.5px;
    margin-left: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.datos{
    position: relative;
    /* background-color: green; */
    margin-top: 0px;
    display: flex;
}

.tipo-dato{
    /* position: absolute; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #767E94;
    margin-bottom: 8px;
    margin-top: 24px;
    /* background-color: yellow; */
    /* margin-top:24px; */
}

.dato{
    margin: 0 0 0 0;
    margin-top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #C3C8D4;
}
.column{
    width: 50%;
}
