/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* @font-face {
  font-family: Iconsweb;
  src: url("./assets/fonts/Icons_web-Regular.otf") format("opentype");
  src: url("./assets/fonts/Icons_web-Regular.ttf") format("opentype");
} */

/* Resetting all document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Setting Icon class */
.icon-web {
  font-family: Iconsweb;
  font-size: normal;
}

/* Setting document fonts*/
h1 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 2%;
}
h2 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 2%;
}
h3 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2%;
}
h4 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.5%;
}
h5 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1.5%;
}
h6 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.5%;
}

p {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
p.large {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}
p.small {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}
p.extra-small {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}
span {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4%;
}
span.small {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
}

a {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
a.small {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2%;
}
a.extra-small {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
}

/* Buttons */
button, button:active {
  border: none;
  padding: 16px 32px;
  background-color: var(--primary-400);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;

  cursor: pointer;
}
button:hover {
  background-color: var(--primary);
}
button.success, button.success:active {
  background-color: var(--success-400);
}
button.success:hover {
  background-color: var(--success);
}
button.warning, button.warning:active {
  background-color: var(--warning-400);
}
button.warning:hover {
  background-color: var(--warning);
}
button.error, button.error:active {
  background-color: var(--error-400);
}
button.error:hover {
  background-color: var(--error);
}
button:disabled {
  opacity: 0.4;
  cursor: default;
}
button:disabled:hover {
  background-color: var(--primary-400);
  opacity: 0.4;
}
button.list {
  padding-left: 10px;
  font-weight: 600;
  color: var(--primary-400);
  background-color: transparent;
}
button.list span {
  color: var(--primary-400);
}
button.list:hover,
button.list:hover span {
  color: var(--primary-500);
  background-color: transparent;
}
button.list.added,
button.list.added span {
  color: var(--error-500)
}
button.list.added:hover,
button.list.added:hover span {
  color: var(--error-600)
}

/* Resizing Margins in responsive*/
@media screen and (max-width: 1400px) {
  .content {
    padding-left:4%;
    padding-right:4%;
  }
}