.search{
    position: relative;
    margin-top: 48px;
    margin-left: 120px;
}
input {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: #475069;
    height: 64px;
    min-width: 344px;
    border: 1px solid #323B54;
    box-sizing: border-box;
    padding: 24px 57px;
    font-size: 16px;

    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
p {
    position: absolute;
    display: flex;
    align-items: center;
    height: 36px;
    color: #475069;
    top: 14px;
    left: 17px;
    font-size: 36px;
}

input:focus {
    color: #ddd;
}
input:focus ~ p {
    color: #ddd;
}

@media screen and (max-width: 480px) {
    input {
        min-width: 0;
        width: 94%;
    }
}